@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');

/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;
  
  --vt-c-light-grayish-cyan: hsl(180, 52%, 96%);
  --vt-c-dark-grayish-cyan: hsl(180, 8%, 52%);
  --vt-c-desaturated-dark-cyan: hsl(180, 29%, 50%);
  --vt-c-very-dark-grayish-cyan: hsl(180, 14%, 20%);
  
  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-primary: var(--vt-c-desaturated-dark-cyan);
  --color-primary-dark: var(--vt-c-dark-grayish-cyan);
  --color-dark: var(--vt-c-very-dark-grayish-cyan);

  --color-white: var(--vt-c-white);

  --color-background: var(--vt-c-light-grayish-cyan);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --divider-dark: var(--vt-c-very-dark-grayish-cyan);

  --section-gap: 160px;  
}
/* semantic element variables for this project */
:root {
  --button-background-color: var(--vt-c-light-grayish-cyan);
  --button-hover-color: var(--vt-c-desaturated-dark-cyan);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  font-family: 'League Spartan', sans-serif;
  font-size: 17px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
